* {
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffaf6;
  color: #000958;
}

.main-left-icons {
  margin-bottom: -10px;
}
.main-right-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div.search {
  margin-right: 20px;
}

div.person {
  margin-left: 20px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
}

hr {
  margin-top: 40px;
  border: 1px solid;
}

.nav-container a {
  text-decoration: none;
  font-weight: bold;
}

main h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
}
.categories-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, auto));
  gap: 20px;
}

.category-card {
  display: flex;
  font-weight: bold;
  background-color: #fcf1e3;
  border-radius: 30px;
  justify-content: center;
  width: 200px;
  height: 200px;
}
